.flex-center-align
	display: -webkit-flex
	-webkit-align-items: center
	display: flex
	align-items: center

.ui.grid>.column.flex-column-container
	display: -webkit-flex
	-webkit-flex-direction: column
	display: flex
	flex-direction: column

	.flex-stretch-item
		-webkit-flex-grow: 1
		-webkit-flex-basis: 0
		flex-grow: 1
		flex-basis: 0
		overflow-x: hidden
		overflow-y: auto

.ui.secondary.inverted.menu
	>.item
		span
			margin-right: 0.1em
			opacity: 0.4

		&.header
			color: rgba(255, 255,255, 0.3)

	>a.item
		margin: 0.2em 0 0.3em -1rem
		padding: 0.3em 0 0.3em 1rem

		&:hover
			background-color: rgba(255, 255, 255, 0.08)!important

		&.active
			background-color: lightseagreen!important

.ui.transparent.inverted.input input
	color: inherit!important

@media only screen and (min-width: 768px)
	.ui.top.menu
		display: none

@media only screen and (max-width: 767px)
	.ui.pusher>.thirteen.wide.computer.column
		padding-top: 4rem
