.row
	margin-left: -1rem
	margin-right: -1rem
	padding: 1rem

.flex-center-align
	display: -webkit-flex
	-webkit-align-items: center
	display: flex
	align-items: center

.flex-container
	display: -webkit-flex
	display: flex

	&.flex-column-container
		-webkit-flex-direction: column
		flex-direction: column

	&.flex-row-container
		-webkit-flex-direction: row
		-webkit-align-items: center
		flex-direction: row
		align-items: center

	.flex-stretch-item
		-webkit-flex-grow: 1
		-webkit-flex-basis: 0% // note: safari bug: seems not working with 0 or 0px
		flex-grow: 1
		flex-basis: 0
		overflow-x: hidden
		overflow-y: auto

.sidebar-menu
	>div
		-webkit-flex-shrink: 0
		flex-shrink: 0

	>.sidebar-menu-header
		color: rgba(255, 255, 255, 0.3)

	.ui.list
		margin: 0

		.item.sidebar-menu-item
			margin: 2px 0 2px -1rem
			padding: 2px 0 2px 1rem
			border-radius: 0 7px 7px 0
			color: rgba(255, 255,255, 0.5)
			font-size: 1.1em

			&.hoverable
				&:hover
					background-color: rgba(255, 255, 255, 0.08)
					color: white
				&.active
					background-color: lightseagreen
					color: white
				em
					border-bottom: 1px dotted
					font-size: 1rem
			span
				margin-right: 2px
				opacity: 0.4
			form.form .ui.transparent.inverted.input
				border-bottom: 1px dotted
				border-color: rgba(255, 255, 255, 0.5)

				input
					color: inherit
			.ui.label.unread-label
				padding: 0.2em 0.7em

.ui.bottom.right.dropdown .menu
	background-color: teal

	.item
		color: rgba(255, 255, 255, 0.9)

		&:hover
			background-color: rgba(255, 255, 255, 0.1)

	&:after
		background-color: teal

.notfound-container
	-webkit-display: flex
	display: flex
	-webkit-align-items: center
	align-items: center
	-webkit-justify-content: center
	justify-content: center
	position: absolute
	top: 0
	bottom: 0
	left: 0
	right: 0

@media only screen and (min-width: 768px)
	.ui.top.menu
		display: none
	#main-container
		padding-top: 1rem

@media (max-width: 767px)
	#main-container
		padding-top: 4rem
		.ui.button.utility-trigger
			display: none

////////////////////////////////////////////////////////////////////////////////
// sAlert package override
.ui.message.s-alert-box
	position: fixed
	width: inherit
	margin: 0 0 0 1rem
	-webkit-transition: top .4s, bottom .4s
	transition: top .4s, bottom .4s
	@media only screen and (min-width: 768px)
		max-width: 50%
	@media only screen and (min-width: 992px)
		max-width: 40%
	@media only screen and (min-width: 1200px)
		max-width: 35%
	&.s-alert-bottom-right
		bottom: 1rem
		right: 1rem
	i.icon
		-webkit-flex-shrink: 0
		flex-shrink: 0

////////////////////////////////////////////////////////////////////////////////
// fix safari close icon in modal bug
.ui.modal > .close
	position: static
	float: right
	color: rgb(150, 150, 150)
