<template name="activities">
	<div class="ui feed">
		{{#each activities}}
		{{#if $eq type 'new-user'}}
		{{> activities_new_user}}
		{{/if}}
		{{#if $eq type 'new-channel'}}
		{{> activities_new_channel}}
		{{/if}}
		{{/each}}
	</div>
</template>
<!-- ####################################################################### -->
<template name="activities_new_user">
	<div class="event">
		<div class="label">
			<img src="{{__M_S.SMALL_AVATAR_DIR}}/{{owner.profile.avatar}}" alt="avatar">
		</div>
		<div class="content">
			<div class="date">
				{{livestamp owner.createdAt}}
			</div>
			<div class="summary">
				{{> activities_get_username owner}} joined the team!
			</div>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="activities_new_channel">
	<div class="event">
		<div class="label">
			<img src="{{__M_S.SMALL_AVATAR_DIR}}/{{owner.profile.avatar}}" alt="avatar">
		</div>
		<div class="content">
			<div class="date">
				{{livestamp channel.createdAt}}
			</div>
			<div class="summary">
				{{> activities_get_username owner}} created a new channel:
				<a href="/channel/{{channel.name}}">{{channel.name}}</a>.
			</div>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="activities_get_username">
	{{#if $eq _id $.Meteor.userId}}
	You
	{{else}}
	<a href="/direct/{{username}}">{{username}}</a>
	{{/if}}
</template>
