<template name="activities">
	<div class="ui feed">
		{{#each activities}}
		{{#if $eq type 'new-user'}}
		{{> activities_new_user}}
		{{/if}}
		{{#if $eq type 'new-channel'}}
		{{> activities_new_channel}}
		{{/if}}
		{{#if $eq type 'user-mention'}}
		{{> activities_user_mention}}
		{{/if}}
		{{/each}}
	</div>
</template>
<!-- ####################################################################### -->
<template name="activities_get_username">
	{{#if $eq _id $.Meteor.userId}}
	you
	{{else}}
	<a href="/direct/{{username}}">{{username}}</a>
	{{/if}}
</template>
<!-- ####################################################################### -->
<template name="activities_item">
	<div class="event">
		<div class="label">
			<img src="{{__M_S.SMALL_AVATAR_DIR}}/{{owner.profile.avatar}}" alt="avatar">
		</div>
		<div class="content">
			<div class="date">
				{{livestamp createdAt}}
			</div>
			<div class="summary">
				{{> Template.contentBlock}}
			</div>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="activities_new_user">
	{{#activities_item}}
		{{> activities_get_username owner}} joined the team!
	{{/activities_item}}
</template>
<!-- ####################################################################### -->
<template name="activities_new_channel">
	{{#activities_item}}
		{{> activities_get_username owner}} created a new channel:
		<a href="/channel/{{channel.name}}">{{channel.name}}</a>.
	{{/activities_item}}
</template>
<!-- ####################################################################### -->
<template name="activities_user_mention">
	{{#activities_item}}
		{{> activities_get_username owner}} mentioned {{> activities_get_username target}} in channel:
		<a href="/channel/{{channel.name}}">{{channel.name}}</a>.
	{{/activities_item}}
</template>
