<template name="config">
	<div class="ui yellow segment">
		<div class="ui stackable grid">
			<div class="eight wide column">
				<div class="ui header">
					<i class="setting icon"></i>
					<div class="content">Your channels</div>
				</div>
				<div class="ui animated celled list">
					{{#each userChannels}}
					{{> config_item_channel_user}}
					{{else}}
					{{#config_no_more}}You have no channel.{{/config_no_more}}
					{{/each}}
				</div>
			</div>

			<div class="eight wide column">
				<div class="ui header">
					<i class="browser icon"></i>
					<div class="content">Available channels</div>
				</div>
				<div class="ui animated celled list">
					{{#each additionalChannels}}
					{{> config_item_channel_additional}}
					{{else}}
					{{#config_no_more}}There are no more channels.{{/config_no_more}}
					{{/each}}
				</div>
			</div>

			<div class="ui horizontal divider header">
				<i class="settings icon" style="font-size: 3em"></i>
			</div>

			<div class="eight wide column">
				<div class="ui header">
					<i class="comments icon"></i>
					<div class="content">Your conversations</div>
				</div>
				<div class="ui animated celled list">
					{{#each directChats}}
					{{> config_item_direct}}
					{{else}}
					{{#config_no_more}}There are no direct chats.{{/config_no_more}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="config_no_more">
	<div class="ui icon message">
		<i class="folder open icon"></i>
		<div class="content">
			<div class="header">Empty...</div>
			<p>{{> Template.contentBlock}}</p>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="config_item_channel_user">
	{{> config_item name=name buttonClass="negative" iconClass="remove" symbol="#"}}
</template>
<!-- ####################################################################### -->
<template name="config_item_channel_additional">
	{{> config_item name=name buttonClass="positive" iconClass="plus" symbol="#"}}
</template>
<!-- ####################################################################### -->
<template name="config_item_direct">
	{{> config_item name=name buttonClass="negative" iconClass="trash" symbol="@"}}
</template>
<!-- ####################################################################### -->
<template name="config_item">
	<div class="item">
		<div class="right floated content">
			<div class="{{buttonClass}} ui compact icon button">
				<i class="{{iconClass}} icon"></i>
			</div>
		</div>

		<div class="middle aligned content" style="line-height: 2.2em">
			{{symbol}} <strong>{{name}}</strong>
		</div>
	</div>
</template>
