<template name="input">
	<form class="ui form">
		<div class="ui icon input">
			{{> textareaAutocomplete settings=settings rows="1" placeholder="Enter your message..."
				style="padding-right: 2.7em; height: 3em"}}
			<i class="inverted circular send link icon" data-content="Send"
				data-variation="inverted" data-position="top right" data-offset="5"></i>
		</div>
	</form>
</template>
<!-- ####################################################################### -->
<template name="input_user">
	<div class="item">
		<div class="ui {{#if status.online}}green{{else}}grey{{/if}} empty circular label"
			style="vertical-align: middle; margin-right: 0.5em"></div>
		<div class="ui image label">
			<img src="{{SMALL_AVATAR_DIR}}/{{profile.avatar}}" alt="avatar">
			{{username}}
		</div>
	</div>
</template>
