<template name="layout">
	<div class="ui stackable grid">
		<!-- top row -->
		<div class="row ui fixed top sticky">
			<div class="three wide column tablet computer only">
				{{> site}}
			</div>
			<div class="thirteen wide column">
				{{> title}}
			</div>
		</div>
		<!-- content row -->
		<div class="row content-row">
			<div class="three wide column tablet computer only">
				{{> menu}}
			</div>
			<div class="thirteen wide column">
				{{> yield}}
			</div>
		</div>
		<!-- bottom row -->
		<div class="row ui fixed bottom sticky">
			<div class="three wide column tablet computer only">
				{{> status}}
			</div>
			<div class="thirteen wide column">
				{{> error}}

				{{#if currentUser}}
				{{> input}}
				{{/if}}
			</div>
		</div>
	</div>

	{{> dimmer}}
</template>
