<template name="layout">
	<div class="ui grid sidebar">
		<div class="column flex-container flex-column-container">
			{{> layout_sidebar}}
		</div>
	</div>

	<div class="ui padded grid pusher">
		{{!-- only shown on non-mobile devices --}}
		<div class="sidebar-container">
			{{> layout_sidebar}}
		</div>
		{{!-- only shown on mobile devices --}}
		<div class="ui inverted top fixed menu" style="padding: 0; background-color: #5D3863">
			<a href="" class="item sidebar-trigger">
				<i class="sidebar icon"></i> Menu
			</a>
			<div class="header item">
				<i class="home icon"></i> {{BRAND_NAME}}
			</div>
		</div>

		<div class="main-container">
			{{#if $.Session.get 'chatType'}}
			{{> title}}
			{{/if}}

			<div class="flex-stretch-item">
				{{> yield}}
			</div>

			{{#if $.Session.get 'chatType'}}
			{{> input}}
			{{/if}}
		</div>
	</div>
	{{!-- show connection status when there is something wrong --}}
	{{> connection}}
	{{!-- modal --}}
	{{!-- this is for channel creation confirmation --}}
	{{!-- cannot put into menu template becuase it will be created twice --}}
	{{> menu_modal}}
	{{!-- notifications --}}
	{{> sAlert template="sAlertCustom"}}
</template>
<!-- ####################################################################### -->
<template name="layout_sidebar">
	<div class="ui grid" style="background-color: #5D3863">
		<div class="column">
			{{> site}}
		</div>
	</div>

	<div class="ui grid flex-stretch-item" style="background-color: #824F8A">
		{{> menu}}
	</div>

	<div class="ui grid" style="background-color: #5D3863">
		<div class="column">
			{{> status}}
		</div>
	</div>
</template>
