<template name="menu">
	<div class="column flex-container flex-column-container sidebar-menu"
		style="padding: 0 1rem">
		<div class="ui inverted sub header" style="margin-top: 10px">CHANNELS</div>
		<div class="ui inverted middle aligned list">
			{{#each channels}}
			<a href="/channel/{{name}}"
				class="item sidebar-menu-item hoverable {{#if _isActiveItem 'channel' name}}active{{/if}}">
				<span>#</span>{{name}}
				{{#if currentUser}}
				{{#unless _isActiveItem 'channel' name}}
				{{#if $gt unread 0}}
				<div class="pink right floated ui label unread-label">{{unread}}</div>
				{{/if}}
				{{/unless}}
				{{/if}}
			</a>
			{{/each}}

			{{#if currentUser}}
			{{#if isAddingANewChannel}}
			{{> menu_addNewChannelItem}}
			{{else}}
			{{> menu_createNewChannelItem}}
			{{/if}}
			{{/if}}
		</div>

		{{#if currentUser}}
		<div class="ui inverted divider" style="margin-top: 0.5em"></div>

		<div class="ui inverted sub header" style="margin-top: 0">DIRECT MESSAGES</div>
		<div class="ui inverted middle aligned list">
			{{#each directChats}}
			<a href="/direct/{{name}}"
				class="item sidebar-menu-item hoverable {{#if _isActiveItem 'direct' name}}active{{/if}}">
				<span>@</span>{{name}}
				{{#unless _isActiveItem 'direct' name}}
				{{#if $gt unread 0}}
				<div class="pink right floated ui label unread-label">{{unread}}</div>
				{{/if}}
				{{/unless}}
			</a>
			{{/each}}
		</div>

		{{#if isAddingANewDirectChat}}
		{{> menu_addNewDirectChatItem}}
		{{else}}
		{{> menu_createNewDirectChatItem}}
		{{/if}}
		{{/if}}
	</div>
</template>

<!-- ####################################################################### -->
<template name="menu_createNewChannelItem">
	<a class="item sidebar-menu-item hoverable">
		<em>Create new channel...</em>
	</a>
</template>
<!-- ####################################################################### -->
<template name="menu_addNewChannelItem">
	<div class="item sidebar-menu-item">
		<form class="ui form">
			<div class="ui transparent inverted icon input">
				<span class="flex-center-align">#</span>
				<input type="text" placeholder="New channel...">
				<i class="cancel link icon"></i>
			</div>
			<small style="opacity: 0.8">* duplicate channel name is not allowed</small>
		</form>
	</div>
	<div class="ui popup" style="margin-left: 1rem">
		<div class="ui header">Are you sure?</div>
		<p><strong>*</strong> channel name cannot be edited or deleted after creation.</p>
		<div class="ui buttons">
			<button class="ui button cancel-btn">Cancel</button>
			<div class="or"></div>
			<button class="ui positive button confirm-btn">Confirm</button>
		</div>
	</div>
</template>

<!-- ####################################################################### -->
<template name="menu_createNewDirectChatItem">
	<div class="ui inverted middle aligned list">
		<a class="item sidebar-menu-item hoverable">
			<em>Create new chat...</em>
		</a>
	</div>
</template>
<!-- ####################################################################### -->
<template name="menu_addNewDirectChatItem">
	<div class="ui inverted middle aligned list">
		<div class="item sidebar-menu-item">
			<form class="ui form">
				<div class="ui transparent inverted icon input">
					<span>@</span>
					<input type="text" placeholder="Choose a buddy...">
					<i class="cancel link icon"></i>
				</div>
			</form>
		</div>
	</div>
	<div class="ui tiny inverted middle aligned divided list flex-stretch-item"
		style="min-height: 10em; background-color: rgba(255, 255, 255, 0.2)">
		{{#each users}}
		{{> menu_addNewDirectChatItem_userItem}}
		{{/each}}
	</div>
</template>
<!-- ####################################################################### -->
<template name="menu_addNewDirectChatItem_userItem">
	<a href="/direct/{{username}}" class="item sidebar-menu-item hoverable"
		style="margin: 0; border-radius: 0">
		<div class="right floated ui {{statusLabelColor}} empty circular label" style="margin: 0.5em 1em"></div>
		<div class="ui avatar image" style="padding-right: 0">
			<img src="{{SMALL_AVATAR_DIR}}/{{profile.avatar}}">
		</div>
		<div class="content" style="padding-left: 1em">
			<div class="header">{{username}}</div>
		</div>
	</a>
</template>
