<template name="menu">
	<div class="ui fluid secondary inverted vertical menu">
		<div class="item">
			CHANNELS
			<div class="menu">
				{{#each channels}}
				<a href="{{name}}" class="item"><span>#</span> {{name}}</a>
				{{/each}}
				<a class="item">
					<em style="border-bottom: 1px dotted">Create new channel...</em>
				</a>
			</div>
		</div>
		<div class="item">
			DIRECT MESSAGES
			<div class="menu">
				<a class="item">Search</a>
				<a class="item">Add</a>
				<a class="item">Remove</a>
			</div>
		</div>
		<div class="item">
			PRIVATE GROUPS
			<div class="menu">
				<a class="item">Search</a>
				<a class="item">Add</a>
				<a class="item">Remove</a>
				<a class="item">
					<em style="border-bottom: 1px dotted">Create new private group...</em>
				</a>
			</div>
		</div>
	</div>
</template>
