<template name="menu">
	<div class="ui fluid inverted secondary vertical text menu">
		<div class="item header">CHANNELS</div>
		{{#each channels}}
		{{> menu_channelItem}}
		{{/each}}

		{{#if currentUser}}
		{{#if isAddingANewChannel}}
		{{> menu_addNewChannelItem}}
		{{/if}}
		{{#unless isAddingANewChannel}}
		{{> menu_createNewChannelItem}}
		{{/unless}}
		{{/if}}

		<div class="ui inverted divider"></div>

		<div class="item header">DIRECT MESSAGES</div>
		<a class="item">
			<span>@</span>tom
		</a>
		<a class="item">
			<span>@</span>jim
		</a>
		<a class="item">
			<span>@</span>susan
		</a>
	</div>
</template>
<!-- ####################################################################### -->
<template name="menu_addNewChannelItem">
	<div class="item">
		<div class="ui transparent inverted fluid action input">
			<span style="margin-top: 0.4em">#</span>
			<input type="text" name="channel name" placeholder="New channel...">
			<i class="circular cancel link icon"></i>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="menu_channelItem">
	<a href="/channel/{{name}}" class="{{channelClass name}}">
		<span>#</span>{{name}}
	</a>
</template>
<!-- ####################################################################### -->
<template name="menu_createNewChannelItem">
	<a class="item">
		<em style="border-bottom: 1px dotted">Create new channel...</em>
	</a>
</template>
