<template name="messages">
	{{#if Template.subscriptionsReady}}
	<div class="ui comments" style="max-width: none">
		{{#each messages}}
		<div class="comment">
			<a class="avatar">
				<img src="{{SMALL_AVATAR_DIR}}/{{owner.profile.avatar}}" alt="avatar">
			</a>
			<div class="content">
				<a class="author">{{owner.username}}</a>
				<div class="metadata">
					<div class="date">{{livestamp createdAt}}</div>
				</div>
				<div class="text">{{text}}</div>
			</div>
		</div>
		{{/each}}
	</div>
	{{else}}
	<div class="ui active inverted dimmer">
		<div class="ui large text loader">Loading</div>
	</div>
	{{/if}}
</template>
