<template name="messages">
	<div class="ui comments" style="max-width: none">
		{{#each messages}}
		{{> messages_item}}
		{{/each}}
	</div>

	{{!-- render a loader if subscription is not ready --}}
	{{#unless Template.subscriptionsReady}}
	<div class="ui active inverted dimmer">
		<div class="ui large text loader">Loading</div>
	</div>
	{{/unless}}
</template>
<!-- ####################################################################### -->
<template name="messages_item">
	<div class="comment">
		<div class="avatar">
			<img src="{{SMALL_AVATAR_DIR}}/{{owner.profile.avatar}}" alt="avatar">
		</div>
		<div class="content">
			<a href="/direct/{{owner.username}}" class="author">{{owner.username}}</a>
			<div class="metadata">
				<div class="date">{{livestamp createdAt}}</div>
			</div>
			<div class="text" style="white-space: pre">{{{message_html}}}</div>
		</div>
	</div>
</template>
