<template name="notfound">
	<div class="notfound-container">
		<div class="ui center aligned blue tall stacked segment" style="font-size: 2em">
			<i class="huge share alternate square icon"></i>
			<div class="ui huge header">
				Ooooooops!
				<div class="sub header" style="font-size: 0.5em; line-height: 1.5em; margin-top: 0.5em">
					looks like there's no route on the client or the server for url:<br>
					<em>"{{currentWindowLocation}}"</em>
				</div>
			</div>
			<p><a href="/" class="big ui primary button">Click here</a></p>
			<p>To go back to home page</p>
		</div>
	</div>
</template>
