<template name="notFound">
	<div class="notfound-container">
		<div class="ui center aligned blue tall stacked segment">
			<i class="massive share alternate square icon"></i>
			<div class="ui huge header" style="font-size: 2.5em">
				Ooooooooooooooops
				<div class="sub header" style="font-size: 0.7em; line-height: 1.5em; margin-top: 0.5em">
					looks like there's no route on the client or the server for url:<br>
					<em>"{{currentWindowLocation}}"</em>
				</div>
			</div>
		</div>
	</div>
</template>
