<template name="profile">
	<div class="ui card">
		<div class="image">
			<img src="{{LARGE_AVATAR_DIR}}/steve.jpg" alt="profile image">
		</div>
		<div class="content">
			<div class="header">zill</div>
			<div class="meta">
				<span class="date">Joined in 2014</span>
			</div>
			<div class="description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quae sint eligendi vero reprehenderit eaque aperiam, suscipit at voluptatem explicabo excepturi, animi eveniet mollitia, quam ipsam aut neque perferendis iusto!
			</div>
		</div>
	</div>
</template>
