<template name="profile">
	<div class="ui purple segment">
	{{#with currentUser}}
	{{> profile_currentUser}}
	{{/with}}

	<h4 class="ui horizontal divider header">
		<i class="users icon"></i>
		All Users
	</h4>

	{{> profile_users}}
	</div>
</template>
<!-- ####################################################################### -->
<template name="profile_currentUser">
	<div class="ui doubling three column centered padded grid">
		<div class="column">
			{{> profile_card}}
		</div>
		{{#if $.Session.get '__M_S_isEdittingProfile'}}
		<div class="column">
			<div class="ui raised segment">
			{{> profile_currentUser_edit}}
			</div>
		</div>
		{{/if}}
	</div>
</template>
<!-- ####################################################################### -->
<template name="profile_currentUser_edit">
	<form class="ui form">
		<h4 class="ui header">Your AWESOME Profile!</h4>
		<div class="required field">
			<label>Edit avatar</label>
			<div class="ui fluid selection dropdown">
				<input type="hidden" name="avatar" value="{{profile.avatar}}">
				<i class="dropdown icon"></i>
				<div class="default text">Select Avatar</div>
				<div class="menu">
					{{#each AVAILABLE_AVATARS}}
					<div class="item" data-value="{{this}}">
						<img class="ui mini avatar image" src="{{__M_S.SMALL_AVATAR_DIR}}/{{this}}" alt="avatar">
						{{getAvatarDisplayName this}}
					</div>
					{{/each}}
				</div>
			</div>
		</div>

		<div class="required field">
			<label>Edit status</label>
			<div class="ui fluid input">
				<textarea name="status" placeholder="Enter your status"
					rows="3" value="{{profile.status}}"></textarea>
			</div>
		</div>

		<div class="ui buttons">
			<button type="button" class="ui button cancel-btn">Cancel</button>
			<div class="or"></div>
			<button class="ui positive button save-btn">Save</button>
		</div>

		<div class="ui error message"></div>
	</form>
</template>
<!-- ####################################################################### -->
<template name="profile_users">
	{{#if hasUsers}}
	<div class="ui five centered doubling cards">
		{{#each users}}
		{{> profile_card}}
		{{/each}}
	</div>
	{{else}}
	<div class="ui text container" style="padding: 1rem">
		<div class="ui icon message">
			<i class="frown icon"></i>
			<div class="content">
				<div class="header">Oooooops! No users...</div>
				{{#if currentUser}}
				<p>Invite your friends!</p>
				{{else}}
				<p>Quickly join!</p>
				{{/if}}
			</div>
		</div>
	</div>
	{{/if}}
</template>
<!-- ####################################################################### -->
<template name="profile_card">
	<div class="ui fluid card">
		<div class="blurring dimmable image">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<div class="ui inverted button action-btn">{{actionLabel}}</div>
					</div>
				</div>
			</div>
			<img src="{{__M_S.LARGE_AVATAR_DIR}}/{{profile.avatar}}" alt="profile image">
		</div>
		<div class="content">
			<div class="header">
				<div class="ui {{statusLabelColor}} empty circular label" style="margin-right: 0.5em"></div>
				{{username}}
			</div>
			<div class="meta">
				<span class="date">Joined {{livestamp createdAt}}</span>
			</div>
			<div class="description" style="overflow: auto">{{profile.status}}</div>
		</div>
		{{#unless isHoverable}}
		<div class="ui bottom attached button action-btn">
			<i class="{{actionIcon}} icon"></i>
			{{actionLabel}}
		</div>
		{{/unless}}
	</div>
</template>
