<template name="profile">
	<div class="ui centered card">
		<div class="image">
			<img src="{{LARGE_AVATAR_DIR}}/{{avatar}}.jpg" alt="profile image">
		</div>
		<div class="content">
			<div class="header">{{user.username}}</div>
			<div class="meta">
				<span class="date">Joined in 2014</span>
			</div>
			<div class="description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus quae sint eligendi vero reprehenderit eaque aperiam, suscipit at voluptatem explicabo excepturi, animi eveniet mollitia, quam ipsam aut neque perferendis iusto!
			</div>
		</div>
	</div>

	<h4 class="ui horizontal divider header">
		<i class="users icon"></i>
		Buddies
	</h4>

	<div class="ui four doubling cards">
		{{#each users}}
		<div class="card">
			<div class="image">
				<img src="{{LARGE_AVATAR_DIR}}/steve.jpg" alt="profile image">
			</div>
		</div>
		{{/each}}
	</div>
</template>
