<template name="status">
	{{#if currentUser}}
	{{> status_signedIn}}
	{{/if}}

	{{#unless currentUser}}
	{{> status_notSignedIn}}
	{{/unless}}
</template>
<!-- ####################################################################### -->
<template name="status_signedIn">
	<div class="ui big inverted list">
		<div class="item">
			<img class="ui avatar image" src="/avatar/{{avatar}}.jpg" alt="avatar">

			<div class="content" style="padding-left: 1em">
				<a class="header">{{currentUser.username}}</a>
				<div class="description" style="font-size: 1rem">
					online
				</div>
			</div>

			<a class="ui right floated" data-content="Sign out" data-variation="inverted">
				<i class="inverted large sign out icon"></i>
			</a>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="status_notSignedIn">
	<div class="ui inverted list">
		<div class="item">
			<i class="inverted large sign in icon"></i>
			<div class="content">
				<h4 style="text-decoration: underline">
					<a href="/signin">Sign In</a>
				</h4>
			</div>
		</div>
	</div>
</template>
