<template name="status">
	{{#if currentUser}}
	{{> status_signedIn}}
	{{else}}
	{{> status_notSignedIn}}
	{{/if}}
</template>
<!-- ####################################################################### -->
<template name="status_signedIn">
	<div class="ui big inverted list">
		<div class="item">
			<div class="right floated content">
				<i class="large inverted sign out link icon"
					data-content="Sign out" data-variation="inverted"
					style="margin-right: 0; margin-top: 0.5rem"></i>
			</div>

			<div class="ui avatar image">
				<img src="{{SMALL_AVATAR_DIR}}/{{_getUserProfileAvatar currentUser.profile}}.jpg" alt="avatar">
			</div>

			<div class="content">
				<a href="/profile" class="header">{{currentUser.username}}</a>
				<div class="description">
					<small>{{_getUserProfileStatus currentUser.profile}}</small>
				</div>
			</div>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="status_notSignedIn">
	<div class="ui inverted list">
		<div class="item">
			<i class="inverted large sign in icon"></i>
			<div class="content">
				<h4 style="text-decoration: underline">
					<a href="/signin">Sign In</a>
				</h4>
			</div>
		</div>
	</div>
</template>
