<template name="status">
	{{#if currentUser}}
	{{> status_signedIn}}
	{{else}}
	{{> status_notSignedIn}}
	{{/if}}
</template>
<!-- ####################################################################### -->
<template name="status_signedIn">
	<div class="ui big inverted list flex-container flex-row-container">
		<div class="item flex-stretch-item" style="padding: 0">
			<div class="ui avatar image" style="padding: 0; vertical-align: middle">
				<img src="{{SMALL_AVATAR_DIR}}/{{currentUser.profile.avatar}}" alt="avatar">
			</div>

			<div class="content">
				<div class="header">
					{{currentUser.username}}
				</div>
				<div class="description">
					<span class="ui mini green empty circular label"></span>
					<small data-content="{{currentUser.profile.status}}" data-variation="inverted">
						{{cutString currentUser.profile.status 10}}
					</small>
				</div>
			</div>
		</div>

		<div class="ui bottom right pointing dropdown" style="margin-right: -1rem">
			<i class="inverted chevron up link icon" style="margin-right: 1rem"></i>
			<div class="menu">
				<a href="/profile" class="item">
					<i class="setting icon"></i>
					Profile
				</a>
				<a class="item sign-out">
					<i class="sign out icon"></i>
					Sign out
				</a>
			</div>
		</div>
	</div>
</template>
<!-- ####################################################################### -->
<template name="status_notSignedIn">
	<a href="/signin" class="fluid ui inverted basic button">
		<i class="sign in icon"></i>
		Sign in
	</a>
</template>
