<template name="title">
	<div class="ui grid">
		<div class="column">
			<div class="ui dropdown">
				<div class="text ui large header">
					<span style="opacity: 0.5">{{prefixSymbol}}</span>
					{{$.Session.get 'chatTarget'}}
				</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					<div class="header">
						<i class="tags icon"></i>
						All channels...
					</div>
					{{#each channels}}
					<a href="/channel/{{name}}" class="item {{_isActive 'channel' name}}">
						{{#if currentUser}}
						{{#unless _isActive 'channel' name}}
						{{#if $gt unread 0}}
						<span class="description">{{unread}} new</span>
						{{/if}}
						{{/unless}}
						{{/if}}
						<span>#</span> {{name}}
					</a>
					{{/each}}
					{{#if currentUser}}
					<div class="header">
						<i class="tags icon"></i>
						All direct messages...
					</div>
					{{/if}}
					{{#each directChats}}
					<a href="/direct/{{name}}" class="item {{_isActive 'direct' name}}">
						{{#unless _isActive 'channel' name}}
						{{#if $gt unread 0}}
						<span class="description">{{unread}} new</span>
						{{/if}}
						{{/unless}}
						<span>@</span> {{name}}
					</a>
					{{/each}}
				</div>
			</div>

			{{#if currentUser}}
			<button class="right floated compact ui icon button" style="margin-left: 1rem">
				<i class="list layout icon"></i>
			</button>
			<div class="ui small search" style="float: right; margin-left: 1rem; min-width: 40%">
				<div class="ui fluid icon input">
					<input type="text" class="prompt" placeholder="Search..."
						style="padding-top: 0.5em; padding-bottom: 0.5em">
					<i class="search icon"></i>
				</div>
			</div>
			<button class="right floated compact ui red basic icon button remove-btn">
				<i class="remove icon"></i>
			</button>
			{{/if}}
		</div>
	</div>

	{{> title_modal}}
</template>
<!-- ####################################################################### -->
<template name="title_modal">
	<div class="ui small basic modal title-modal">
		{{!-- header --}}
		<div class="ui icon header">
			<i class="trash outline icon"></i>
			Are you sure?
		</div>
		{{!-- content --}}
		<div class="content">
			<p>Once deleted, you would not be able to see from the sidebar. However, you can still add it back.</p>
		</div>
		{{!-- actions --}}
		<div class="actions">
			<div class="ui green basic cancel inverted button">
				<i class="remove icon"></i>
				Cancel
			</div>
			<div class="ui red ok inverted button">
				<i class="trash icon"></i>
				Yes
			</div>
		</div>
	</div>
</template>
