<template name="title">
	<div class="ui grid">
		<div class="column">
			<div class="ui dropdown">
				<div class="text ui header">
					<span style="opacity: 0.5">{{prefixSymbol}}</span>
					{{currentTarget}}
				</div>
				<i class="dropdown icon"></i>
				<div class="menu">
					{{#if Template.subscriptionsReady}}
					<div class="header">
						<i class="tags icon"></i>
						All channels...
					</div>
					{{#each channels}}
					<a href="/channel/{{name}}" class="item {{#if _isActiveItem 'channel' name}}active{{/if}}">
						{{#if currentUser}}
						{{#unless _isActiveItem 'channel' name}}
						{{#if _shouldShowUnreadLabel unread}}
						<span class="description">{{unread}} new</span>
						{{/if}}
						{{/unless}}
						{{/if}}
						<span>#</span> {{name}}
					</a>
					{{/each}}
					{{#if currentUser}}
					<div class="header">
						<i class="tags icon"></i>
						All direct messages...
					</div>
					{{/if}}
					{{#each directChats}}
					<a href="/direct/{{name}}" class="item {{#if _isActiveItem 'direct' name}}active{{/if}}">
						{{#unless _isActiveItem 'channel' name}}
						{{#if _shouldShowUnreadLabel unread}}
						<span class="description">{{unread}} new</span>
						{{/if}}
						{{/unless}}
						<span>@</span> {{name}}
					</a>
					{{/each}}
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</template>
