<template name="title">
	<div>
		<div class="ui dropdown">
			<div class="text ui large header">
				<span style="opacity: 0.5">
					{{#if $.Session.equals '__M_S_chatType' 'channel'}}#{{/if}}
					{{#if $.Session.equals '__M_S_chatType' 'direct'}}@{{/if}}
				</span>
				{{$.Session.get '__M_S_chatTarget'}}
			</div>
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="header">
					<i class="tags icon"></i>
					All channels...
				</div>
				{{#each channels}}
					{{> title_dropdown_item type='channel' data=this}}
				{{/each}}
				{{#if currentUser}}
				<div class="header">
					<i class="tags icon"></i>
					All direct messages...
				</div>
				{{#each directChats}}
					{{> title_dropdown_item type='direct' data=this}}
				{{/each}}
				{{/if}}
			</div>
		</div>

		{{#if $.Session.equals '__M_S_chatType' 'channel'}}
		<div class="ui violet left pointing label"
			style="vertical-align: top; margin-left: 1em">
			<i class="users icon"></i>
			{{currentChannelSize}}
		</div>
		{{/if}}

		{{#if currentUser}}
		<button class="right floated compact ui basic grey icon button utility-trigger popup-trigger" style="margin-left: 1rem">
			{{#if $.Session.get '__M_S_showUtility'}}
			<i class="toggle on icon"></i>
			{{else}}
			<i class="toggle off icon"></i>
			{{/if}}
		</button>
		{{!--
		<div class="ui small search" style="float: right; margin-left: 1rem; min-width: 30%">
			<div class="ui fluid icon input">
				<input type="text" class="prompt" placeholder="Search..."
					style="padding-top: 0.5em; padding-bottom: 0.5em">
				<i class="search icon"></i>
			</div>
		</div>
		--}}
		<button class="right floated compact ui red basic icon button remove-btn popup-trigger">
			<i class="remove icon"></i>
		</button>
		<button class="right floated compact ui pink basic icon button favourite-btn popup-trigger">
			<i class="star icon"></i>
		</button>
		{{/if}}
	</div>

	{{> title_modal}}
</template>

<!-- ####################################################################### -->
<template name="title_dropdown_item">
	<a href="/{{type}}/{{data.name}}" class="item {{__M_S.isActive type data.name}}">
		{{#unless __M_S.isActive type data.name}}
		{{#if $gt data.unread 0}}
		<span class="description">{{data.unread}} new</span>
		{{/if}}
		{{/unless}}
		<span>
			{{#if $eq type 'channel'}}#{{/if}}
			{{#if $eq type 'direct'}}@{{/if}}
		</span>
		{{data.name}}
	</a>
</template>
<!-- ####################################################################### -->
<template name="title_modal">
	<div class="ui small basic modal title-modal">
		{{!-- header --}}
		<div class="ui icon header">
			<i class="trash outline icon"></i>
			Are you sure?
		</div>
		{{!-- content --}}
		<div class="content">
			<p>Once deleted, you would not be able to see from the sidebar. However, you can still add it back.</p>
		</div>
		{{!-- actions --}}
		<div class="actions">
			<div class="ui green basic cancel inverted button">
				<i class="remove icon"></i>
				Cancel
			</div>
			<div class="ui red ok inverted button">
				<i class="trash icon"></i>
				Yes
			</div>
		</div>
	</div>
</template>
